.left a {
    text-decoration: none;
    color: black;
    font-weight: 100;
   }
   .right a {
    text-decoration: none;
    color: #7f7f7f;
   }
   #high {
    color: #0e91d3;
   }
   .footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
   }

   #left {
float: left;
font-weight: 1000;
width: auto;
   }
   #right {
float: right;
margin-right: 0;
width:30%
   }


